:root{
    --primary-color: #73264c;
    --white-color: #ffffff;
    --menu-words: #1a001a;
    --border-menu: #391326;
    --gap: 3rem;
    
}

*{
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
}

body{
    font-family: 'Open Sans', sans-serif;
    font-size: 2rem;  
}

h1 h2 h3 h4 h5 h6{
    font-family: 'Montserrat', sans-serif;
}

h1{
    font-size: 6rem;
    text-transform: uppercase;
}

h2{
    font-size: 5.5rem;
    
}

h3{
    font-size: 5rem;
    
}

h4{
    font-size: 4.5rem;
   
}

h5{
    font-size: 4rem;
    
}

h6{
    font-size: 3.5rem;
    
}

.main-back{
    background-image: url('../img/fundo.svg');
    background-size: cover;
    background-position: center center;
    color: var(--white-color);
}

.white-back{
   background-color: var(--white-color);
}


.main-content{
    max-width: 1200px;
    margin: 0 auto;
    padding: var(--gap);
}

.height-viewport{
    min-height: 100vh;
}

.menu{
    background: var(--primary-color);
    border-bottom: 1px solid var(--border-menu);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
}

.menu-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1.5rem;
    padding-bottom: 0;
    
}

.menu ul{
    list-style: none;
    display: flex;
}

.menu ul li a{
    display: block;
    color: var(--menu-words);
    text-decoration: none;
    padding: 2.5rem;
    font-size: 1.8rem;  
}

.menu ul li a:hover{
 transition: all 300ms ease-in-out;
     width: 50%;
     background: var(--border-menu);
     border-radius: 4rem;
}